/bin
/obj

/SampleRhino/bin
/SampleRhino/obj

/SampleLibrary/bin
/SampleLibrary/obj

/SampleLibrary/build
/SampleLibrary/SampleLibrary.xcodeproj/project.xcworkspace/xcuserdata/
/SampleLibrary/SampleLibrary.xcodeproj/xcuserdata/